
@media screen and (max-width:480px){
    #dashBoard  .row .col-3{
        width: 50%;
    }

    #bar_chart{
        /* width: 100%!important; */
    }

    #dough_nut{
        margin-top: 30px;
    }

    #line_chart{
        margin-top: 50px;
    }



}