/*
Basic input element using psuedo classes
*/

  h1 {
    font-size: 28px;
    margin-bottom: 2.5%;
  }
  
  input,
  span,
  label,
  textarea {
    display: block;
    margin: 10px;
    padding: 5px;
    border: none;
    font-size: 22px;
  }
  
  input:focus, textarea:focus {
    outline: 0;
  }
  /* Question */
  
  input.question{
    font-weight: 300;
    border-radius: 2px;
    margin: 0;
    border: none;
    width: 80%;
    background: rgba(0, 0, 0, 0);
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
  }
  /* Underline and Placeholder */
  
  input.question + label{
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    /* width: 100%; */
    border-top: 1px solid red;
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
    height: 0px;
  }
  
  /* input.question:focus + label{
    width: 100%;
  } */
  
  input.question:focus,
  input.question:valid {
    padding-top: 35px;
  }
  
  
  
  input.question:focus + label > span,
  input.question:valid + label > span {
    top: -90px;
    font-size: 30px;
    color: #333;
  }
  
  input.question:valid + label{
    border-color: green;
  }
  
  input.question:invalid{
    box-shadow: none;
  }
  
  input.question + label > span{
    font-weight: 300;
    margin: 0;
    position: absolute;
    color: #8F8F8F;
    font-size: 15px;
    top: -35px;
    left: 0px;
    z-index: -1;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  }
  

  textarea{
    height: 45px;
    border-bottom: 1px solid #ccc;
    width: -webkit-fill-available;
    /* resize: none!important; */
  }