small{
    display: block;
}
.createEvent .card{
    height: inherit;
}
.table-responsive{
    overflow-x: hidden;
}
.createEvent > .row{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 112px;
    left: 12px;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content:center;
}
.createEvent .card{
    margin: auto;
    position: relative;
    width: 40%;
    height: 45%;
    bottom: 10%;
}
.createEvent form{
    display: grid;
    height: 100%;
}
.createEvent .justify-content-evenly{
    height: 64%;
}