small{
    display: block;
}
.table-responsive{
    overflow-x: hidden;
}

.createEvent{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    padding: 0!important;
}

.modalOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.3);
    z-index: 2;
}
.modalEvent{
    --growth-from:0.7;
    --growth-to:1;
    margin: auto;
    background-color: white;
    border-radius: .5rem;
    width: 70%;
    height: 50%;
    display: flex;
    animation: growth linear 0.1s;
    z-index: 3;
}
.createFormEvent_Select{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.createFormEvent{
    padding: 30px 32px;
    overflow: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btnForm{
    margin-top: 60px;
}
.createFormEvent_Header{
    margin-bottom: 2rem;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}