.commentAvatar{
    border-radius: 100%;
}
.comments {
    padding: 10px;
}
.comment {
    background-color: #f5f5f5;
    border-radius: 20px;
    padding: 10px;
    margin-left: 10px;
}
.comment_author {
    font-weight: bold;
}
.comment_user {
    padding: 5px;
}