.card {
    border-radius: 5px;
    background: white;
    box-shadow: 15px 15px 30px #bebebe;
}
.card_body h6{
    font-size: smaller;
}
.text {
    color: #838f9c;
    font-weight: 700;
}

/* icon */
.icon {
    float: right;
    font-size: xx-large;
    color:darkcyan;
}