.navbar-dark{
    background-color: #313a46;
}

img {
    height: 32px;
    width: 32px;
}
.user > .media > img{
    position: absolute;
    top: calc(38px / 2);
    left: 15px;
}
.user {
    padding: calc(31px / 2) 20px calc(31px / 2) 57px !important;
    text-align: left!important;
    position: relative;
    background-color: #3c4655;
    border: none;
    border-width: 0 1px;
    min-height: 70px;
}
.user > .media > .media-body > h5 {
    /* padding: 0; */
    color: #98a6ad;
    min-width: 32px;
    display: block;
    text-align: center;
    /* margin: 0; */
    position: relative;
    top: -3px;
}
.user > .media{
    margin-top: 11px;
}

.navbar{
    padding: 0 !important;
}

.search-btn{
    display: flex;
    position: absolute;
    left: 15%;
}

.navbar{
    position: sticky-top;
}

