/* Create account */
.tableAccount{
    padding-top: 10rem;
}
.createFormAccount_Select{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

/* userProfile */
.userProfile img, .editProfile img{
    width: 150px;
}