/* Create account */
.tableAccount{
    padding-top: 2rem;
}
.createFormAccount_Select{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 0 4px;
}
.createFormAccount{
    padding: 30px 32px;
    overflow: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modalAccount{
    --growth-from:0.7;
    --growth-to:1;
    animation: growth linear 0.1s;
    margin:auto;
    background-color: white;
    border-radius: .5rem;
    width: 50%;
    height: 88%;
    display: flex;
    z-index: 3;
    margin-top:80px;
}


/* Animation */
@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}


/*account responsive mobile*/
@media screen and (max-width:819px){
    .modalAccount{
        width: 60%;
        height:45%;
        margin: 80px 0 0 8px;
    }

    .createFormAccount_Select{
        display: block;
    }
}
/*account responsive tablet*/
@media screen and ((max-width:1180px) and (min-width:819px)){
    .modalAccount{
        width: 60%;
        height:50%;
        margin: 80px 0 0 10px;
    }
}


