@media screen and (max-width:819px){

    .textHeader h1{
        display: none;
    } 
    /* section.userProfile{
        width: 150%;
        margin-left: 0%;
    }
     */

    .or{
        display: none;
    }
    
    div.col-lg-5{
        /* width: 200%; */
        margin:20px 0 0 50px ;
    
    }
    
    div.card.mt-4{
        width: 120%;
        margin-left: -30px;
    }

    /*edit profile*/
    /* div.card{
        width: 100%;
        margin-left: 0px;
    } */
    
    div.col-xl-8 .card{
        width: 100%;
        margin-left: 1px;
    }
    
    
    label div.col-md-6{
        margin-left: -30px;
    }
    
    h1{
        width: 100%;
    }
    
    button.btn.btn-success{
        margin-top: 0px;
    }

    div.detail{
        width: 100px;
        margin-left: 0px;
    }

    div.newsFeed_news_post__GckKo{
        margin-left: 60px ;
        width: 95%;
    }

    div.card.mb-4.mb-xl-0{
        width: 100%;
        margin-left: 0px;
    }
    
     div.newsFeed_card__P7+le{
        /* margin-left: 40px; */
        display: none;
    }

}