

@media screen and (max-width:819px){
    div.card-body{
        width: 55%;
        margin-left: 15% ;
    }

    span{
        margin-left: 20% ;
    }

    div.app-search.dropdown{
        width: 100%;
        margin-left: -25px;
    }

    div.Sort_Dropdown__ANnec{
        margin-left: 65%;
    }



}