@media screen and (max-width:819px){
    div.card-body{
        width: 60%;
        margin-left: 20% ;
    }

    span{
        margin-left: 20% ;
    }

    div.app-search.dropdown{
        width: 100%;
        margin-left: 0 ;
    }



}