

@media screen and (max-width:480px){

    span{
        margin-left: 20% ;
    }

    div.app-search.dropdown{
        width: 115%;
        margin-left: -25px;
    }

    div.Sort_Dropdown__ANnec{
        margin-left: -25px;
        margin-top: 20px;
    }

    .Sort_ant_space_gBcfI{
        margin-right: -95px;
    }

    div.DetailIdea_Card__Fvyvy.card{
        width: 130%;
        margin: 0px 0px 0px -45px;
    }

    div.newsFeed_card__P7\+le{
        width: 120%;
        margin-left: -30px;
    }
    


}