.card{
    padding: 24px;
}
.card > .list-group {
    border-top: none!important;
}
.card > .media, .comment > .user-comment > .media, .reply{
    display: flex;
}
.user-comment{
    padding-top: 10px;
}
.h5, h5{
    font-size: .9375rem!important;
}
.small, small {
    font-size: .75rem!important;
    font-weight: 400!important;
}


.news-post img, .news-menu img {
    margin: 3px 12px 0 0;
    height: 42px!important;
    width: 42px!important;
}
.news-post > .mb-0{
    margin: 0px!important;
}
.news-menu, .news-post, .news-trending {
    padding-top: 60px;
}
input::placeholder{
    color: #adb5bd!important;
}
.comment p .my-3{
    margin-top: 0!important;
}
.mt-3{
    max-height: 20rem;
    overflow-y: auto;
}
.reply textarea{
    resize: none;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
}