/* All document */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

body{
  /* background-color: #e1e4ea !important; */
  background-color: rgb(86, 216, 228, 1)!important;
}
.App>.login, .detailIdea, .tableAccountList, .userProfile, .tableCate, .tableAdmin, .tableListIdea, .eventIdea, .editProfile {
  /* position: relative */
  width: 100%;
  height: 100vh;
  background-image: url('./images/TruongTao.png');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

@media  screen and (max-width:1921px){
  .App>.detailIdea {
      height: 160vh;
  }

  .App>.tableCate{
    height: 90vh;
  }

  .App>.userProfile{
    height: 155vh;
  }

  .App>.eventIdea{
    height: 85vh;
  }

}
@media  screen and (max-width:1080px){
  .App>.editProfile{
    background:none;
  }

  .App>.userProfile{
    background:none;
  }

  .App>#userProfile{
    background:none;
  }

  .tableCate table{
    margin-left: 70px;
  }

  .tableCate table th{
    font-size: 14px;
  }

  .tableCate table td{
    font-size: 12px;
  }

}

#NewFeedBackG, #userProfile, #dashBoard{
  width: 100%;
  background-image: url('./images/TruongTao.png');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
body a{
  text-decoration: none;
}
.modalOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.3);
  z-index: 2;
}
.create, .edit{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  padding: 0!important;
}
.container-fluid{
  max-width: 80%;
}
.container {
  max-width: 50%;
}
