.card {
    width: 100%;
    cursor: pointer;
    margin-top: 2rem;
  }
  
  .content {
    text-align: center;
    position: relative;
    transition: all 1s;
    background-color: rgba(31, 41, 55, 1);
    padding: 5em;
    transform-style: preserve-3d;
    border-radius: 1rem;
  }
  
  .card:hover .content {
    transform: rotateY(0.5turn);
  }
  .card:hover .description {
    opacity: 1;
    transition: opacity 1s;
  }
  
  .front,
  .back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 2em;
    transform-style: preserve-3d;
    backface-visibility: hidden;
  }
  
  .title {
    transform: translateZ(5rem);
    font-size: 2rem;
    color: white;
  }
  
  .subtitle {
    transform: translateZ(2rem);
  }
  
  .back {
    transform: rotateY(0.5turn);
    background-color: rgba(31, 41, 55, 1);
    height:fit-content;
    border-radius: 1rem;
  }
  
  .description {
    transform: translateZ(3rem);
    opacity: 0;
    color: white;
    margin-top: 2rem;
  }
  .text_muted{
    color: white!important;
  }